[Desktop Entry]
Version=1.0
Name=Bluefish Editor
Name[ca]=Editor Bluefish
Name[cs]=Editor Bluefish
Name[da]=Bluefish Redigeringsprogram
Name[de]=Bluefish Editor
Name[en]=Bluefish Editor
Name[es]=Editor Bluefish
Name[eu]=Bluefish editorea
Name[fa]=ویراستار بلوفیش
Name[fr]=Éditeur Bluefish
Name[gl]=Bluefish Editor
Name[hu]=Bluefish szerkesztő
Name[it]=Editor Bluefish
Name[ja]=Bluefish エディタ
Name[ko]=Bluefish 편집기
Name[nb]=Bluefish skriveprogram
Name[nl]=Bluefish Editor
Name[nn]=Bluefish skriveprogram
Name[pl]=Edytor Bluefish
Name[pt]=Editor Bluefish
Name[pt_BR]=Bluefish Editor
Name[ro]=Editorul Bluefish
Name[ru]=Веб-редактор Bluefish
Name[sk]=Bluefish editor
Name[uk]=Редактор Bluefish
Name[zh_CN]=Bluefish 编辑器
Comment=Web Development Editor
Comment[ca]=Editor de Desenvolupament Web
Comment[cs]=Editor pro vývojáře webů
Comment[da]=Redigeringsprogram til webudvikling
Comment[de]=Editorprogramm zur Webentwicklung
Comment[en]=Web Development Editor
Comment[es]=Editor de desarrollo web
Comment[eu]=Web garapenerako editorea
Comment[fa]=ویرایشگر ویراستار برای توسعه وب‬
Comment[fr]=Éditeur de développement web
Comment[gl]=Editor de desenvolmento web
Comment[hu]=A webfejlesztők szerkesztője
Comment[it]=Editor di Sviluppo Web
Comment[ja]=ウェブ開発エディタ
Comment[ko]=웹 개발 편집기
Comment[nb]=Skriveprogram for nettsideutvikling
Comment[nl]=Webontwikkelingseditor
Comment[nn]=Skriveprogram for nettsideutvikling
Comment[pl]=Edytor stron www
Comment[pt]=Editor de Desenvolvimento Web
Comment[pt_BR]=Editor de Desenvolvimento Web
Comment[ru]=Редактор для веб-разработки
Comment[uk]=Редактор для веб-розробки
Comment[zh_CN]=网页开发编辑器
Keywords=programming;code;web;editor;development;html;php;python;
Keywords[ca]=programació;codi;web;editor;desenvolupament;html;php;python;
Keywords[cs]=programování;kód;kódování;web;www;editor;vývoj;html;php;python;
Keywords[da]=programmering;kode;web;editor;udvikling;html;php;python;
Keywords[de]=Programmierung;Code;Web;Editor;Entwicklung;HTML;PHP;Python;
Keywords[es]=programación;código;web;editor;desarrollo;html;php;python;
Keywords[fa]=برنامه نویسی; کد; وب; ویرایشگر; توسعه; اچ تی ام ال ; پی اچ پی; پایتون;
Keywords[fr]=programmation;code;web;éditeur; développement;html;php;python;
Keywords[hu]=programozás;kód;web;szerkesztő;fejlesztés;html;php;python;
Keywords[it]=programmazione;codice;web;editor;sviluppo;html;php;python;
Keywords[nb]=programmering;kode;web;editor;utvikling;html;php;python;
Keywords[nl]=programming;code;web;ontwikkeling;development;html;php;python;
Keywords[nn]=programming;code;web;editor;development;html;php;python;
Keywords[pl]=programowanie;kod;sieć;edytor;rozwój;html;php;python;
Keywords[uk]=programming;code;web;editor;development;html;php;python;програмування;код;редактор;веб;інтернет;розробка;пітон;
Exec=bluefish %F
Icon=bluefish
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Development;WebDevelopment;
MimeType=text/html;text/css;text/x-javascript;text/x-python;text/x-perl;application/x-php;text/x-java;text/javascript;text/x-php;application/x-cgi;application/x-javascript;application/x-perl;application/x-python;application/xhtml+xml;text/mathml;text/x-csrc;text/x-chdr;text/x-dtd;text/x-sql;text/xml;application/x-bluefish-project;
